*,
*::after,
*::before{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    font-family: 'Caveat', cursive;
    font-family: 'Pathway Gothic One', sans-serif;
    font-family: 'Sedgwick Ave Display', cursive;
    font-size: 14px;
    letter-spacing: 1.25px;      /* spacing the letters because the font is quite tight */

}

@media screen and (max-width:576px) {
    body{
        font-size: 9px !important;
    }
}

.section-style {
    /* adjusted height to prevent unwanted scrolling */
    height: 90vh;
    background: url(https://i.postimg.cc/ncNF7fQ0/seshdesktop.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: repeat-y;
    width: 100%;
    position: relative;
    text-align: center;
    color: rgb(255, 255, 255);
}
.section-button{
    text-align: center;
}
.section-position{
    padding-top:40vh;
}

/* COPYRIGHT SECTION */
footer {
    text-align: center;
    background-color: none;
    /* provide a transparent look */
    color: rgba(0, 0, 0, 0.5);
}

/* #landing>h2 {
    font-size: 100px;
    padding-top: 50px;
    color: rgb(255, 255, 255);
    text-align: center;
}

#landing>p {
    font-size: 20px;
    color: rgb(255, 255, 255);
    text-align: center;
} */

.card {
    background-color: transparent;
    outline: black 20px;
}

.card-text {
    color: rgb(255, 255, 255);
}

/* FILTER DROPDOWN BUTTON */
.dropdown {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px
}

.table {
    width: 100%;
}

/* ADD NEW PRODUCT MODAL */
.Modal {
    margin-left: 3.5vh;
    margin-bottom: 50px;
    display: flex-start;

}

.form-control{
    background-color: rgba(41, 154, 41, 0.253);
}

/* trying to mke the table responsive less than 369 pc by decreasing the font size on the table */
@media screen and (max-width: 369px) {
    .table-respn{
        font-size: 9px
    }
}


input,
textarea {
    background-color: rgba(0, 128, 0, 0.1);
}

#btnSort {
    display: flex;
    justify-content: center;
}

/* PRODUCT CARD RESPONSIVENESS */
@media screen and (max-width: 720px) {
    #landing {
        width: 100%;
        text-align: center;
    }

    #heading {
        width: 100%;
        text-align: center;
    }

    tr {
        width: 100%;
    }

    table {
        width: 100%;
    }
}
/* checkout page section - making the footer sit at the bottom */
.checkout-bg{
    background: url(https://i.postimg.cc/tC519WHj/cal-bg-darkplant.webp);
    margin-bottom: 300px;
}
